/* @import './tailwind/tailwind.css';
@import './tailwind/tailwind.utilities.css'; */

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities */
.btn {
  @apply bg-red-500 font-bold py-2 px-4 rounded no-underline border inline-block mb-2;
}

html {
  /* scroll-behavior: smooth; */
}
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

body {
  /* background: rgb(226, 215, 215); */
  /* font-size: 2rem; */
  position: relative;
}

.post pre {
  position: relative;
  overflow-x: scroll;
  @apply my-4 rounded;
}

.post p {
  @apply text-lg;
}

.test {
  font-size: 24px;
  background: red;
}

.heading-attention {
  /* font-size: 144px; */
  font-size: 48px;

}

/* JS HOVER TRANSITIONS */
.io-post .io-post--overlay {
  mix-blend-mode: multiply;
}

.io-post .on .io-post--overlay {
  opacity: 1;
}

/* PixiJS canvas */
#canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid teal;
}

.section-fullscreen {
  border: 2px solid purple;
  min-height: 568px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
