@import "./tailwind/tailwind.css";
@import "./tailwind/tailwind.utilities.css";

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

body {
  /* background: rgb(226, 215, 215); */
  /* font-size: 2rem; */
}

.post pre {
  position: relative;
  overflow-x: scroll;
  @apply my-4 rounded;
}

.post p {
  @apply text-lg;
}

.test {
  font-size: 24px;
  background: red;
}

/* JS HOVER TRANSITIONS */

.io-post .io-post--overlay  {
  mix-blend-mode: multiply;
}

.io-post .on .io-post--overlay {
  opacity: 1;
}
