<!-- production -->
{{ if eq "production" (getenv "NODE_ENV") }}
  {{ if (fileExists "./assets/bundle/bundle.js") }}
    {{ $js := resources.Get "bundle/bundle.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha256" }}
    <script type="module" content-type="application/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
  {{ end }}
{{ end }}

<!-- development -->
{{ if eq "development" (getenv "NODE_ENV") }}
  <script src="https://unpkg.com/@barba/core"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  {{ if (fileExists "./assets/bundle/bundle.js") }}
    {{ $js := resources.Get "bundle/bundle.js" }}
    <script src="{{ $js.Permalink }}" type="module" crossorigin="anonymous" defer></script>
  {{ end }}
{{ end }}



