<div
  style="background: rgba(255,255,255,.8)"
  class="fixed top-0 z-10 py-6 w-full"
>
  <nav
    class="relative flex items-center mx-auto justify-between md:justify-center"
  >
    <div class="hidden md:block">
      <a
        href="/"
        class="font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"
        >Home</a
      >
      <a
        href="/services"
        class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"
        >Services</a
      >
      <a
        href="/posts"
        class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"
        >Posts</a
      >
      <!-- <a
        href="/jobs"
        class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"
        >Jobs</a
      > -->
      <a
        href="/contact"
        class="ml-10 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out"
        >Contact</a
      >
    </div>
  </nav>
</div>
