<div class="io-post mt-10 pb-12 bg-white sm:pb-16">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <a href="{{.Permalink}}" class="io-post--link block rounded-lg bg-white shadow-lg hover:shadow-2xl sm:transition-shadow sm:duration-500">
            <article class="my-4 mx-2">
              <!-- PICTURE RESIZE -->
              {{ $resource := index (.Resources.Match "img*") 0 }}
              {{ $image1 := $resource.Resize "880x q80" }} 
              {{ $image2 := $resource.Fill "420x480 q80" }} 
              <div class="relative">
                <picture >
                  <source srcset="{{$image1.RelPermalink}}" alt="" media="(min-width: 420px)">
                  <img src="{{$image2.RelPermalink}}" loading="lazy" width="880" height="420" alt="" />
                </picture>
                <div class="io-post--overlay absolute inset-0 bg-blue-400 opacity-0 transition-opacity duration-500"></div>
              </div>
              <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
                <h3 class="text-xl font-semibold leading-6 font-medium text-gray-900">
                    {{ .Title}} 
                </h3>
              </div>
              <div class="bg-white px-4 py-5 sm:px-6">
                <p class="text-lg leading-6 font-medium text-gray-900">{{ .Description }}</p>
              </div>
            </article>
          </a>
        </div>
      </div>
    </div>
  </div>