{{ define "main" }}
<header id="header" class="scroll-child scroll-child--header" role="banner">
  {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}
</header>

  <article class="scroll-child">
  {{ partial "components/headers/header-attention" (dict "text" "services")}}

    <div>
      <span>Development</span>
      <span>Design</span>
      <span>Digital Strategy</span>
    </div>
  </article>

  <article class="scroll-child">
    {{ partial "components/headers/header-attention" (dict "text" "blog")}}
  </article>

  <article class="scroll-child">
    {{ partial "components/headers/header-attention" (dict "text" "portfolio")}}
  </article>

  <article class="scroll-child">
    {{ partial "components/headers/header-attention" (dict "text" "contact")}}
  </article>

{{ end }}
