{{ define "main" }}

<header id="header" class="section-fullscreen" role="banner">
  {{ block "header" . }}{{ partial "site/header-home.html" . }}{{ end }}
</header>

<article class="section-fullscreen">
  <a href="./services/">
    {{ partial "components/headers/header-attention" (dict "text" "services")}}
  </a>

  <div>
    <a href="./services/#1">
      <span>Web Design & Development</span>
    </a>
    <a href="./services/#2">
      <span>Brand Identity</span>
    </a>
    <a href="./services/#3">
      <span>Educational Direction</span>
    </a>
  </div>
</article>

<article class="section-fullscreen">
  {{ partial "components/headers/header-attention" (dict "text" "blog")}}
</article>

<article class="section-fullscreen">
  {{ partial "components/headers/header-attention" (dict "text" "contact")}}
</article>

{{ end }}
